{% load staticfiles %}
<html >
    <head>
        <meta property="og:url"           content="http://8march.hpmd.ru" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Your Website Title" />
        <meta property="og:description"   content="Your description" />
        <meta property="og:image"         content="http://8march.hpmd.ru/media/forSticker.png" />
        <title>hpmd 8 march</title>
        {% load static %}
    </head>
    <body class="body-root">
        <header>

        </header>

        {% block content %}
        {% endblock %}
        <div class="fb-share-button"
            data-href="https://www.your-domain.com/your-page.html"
            data-layout="button_count">
        </div>
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.12';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    </body>
    <script>
        var getCookie = function(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = (cookies[i]).trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        };

        var giveme= {
            sticker: function () {
                var data = {
                    action: 'givemesticker'
                };

                var boundary = String(Math.random()).slice(2);
                var boundaryMiddle = '--' + boundary + '\r\n';
                var boundaryLast = '--' + boundary + '--\r\n'

                var body = ['\r\n'];
                for (var key in data) {
                    // добавление поля
                    body.push('Content-Disposition: form-data; name="' + key + '"\r\n\r\n' + data[key] + '\r\n');
                }

                body = body.join(boundaryMiddle) + boundaryLast;
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/givemesticker/', true);

                var csrftoken = getCookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                xhr.setRequestHeader('Content-Type', 'multipart/form-data; text=' + '123');

                xhr.onreadystatechange = function () {
                    if (this.readyState != 4) return;

                    console.log(this.responseText);
                }

                xhr.send(body);
            }
        }
    </script>
</html>
