{% load staticfiles %}
<html >
    <head>
        <meta property="og:url"           content="{{ host }}" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Your Website Title" />
        <meta property="og:description"   content="Your description" />
        <meta property="og:image"         content="{{ host }}/media/forSticker.png" />
        {# by click need to change content of meta above #}
        {% load static %}
    </head>
    <body class="body-root">
        {% block content %}
        {% endblock %}
        <div class="fb-share-button"
            data-href="{{ host }}"
            data-layout="button_count">
        </div>
        <div id="fb-root"></div>
    </body>
    <script>
        var getCookie = function(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = (cookies[i]).trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        };

        var giveme= {
            sticker: function () {
                var data = {
                    action: 'givemesticker'
                };

                xhr.open('POST', '/givemesticker/', true);

                var csrftoken = getCookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));

                xhr.onreadystatechange = function () {
                    if (this.readyState != 4) return;

                    console.log(this.responseText);
                }

                xhr.send(body);
            }
        }
    </script>
</html>
